<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/assets/Recycle001.png" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">My first BootStrap code</h1>
            <p>SDR will send file/stream to the sound card. Centre frequency should be adjusted automatically. Detection and Decoding result should be inserted in to a database. Some parameters will be inserted by our SDR. Detection and decoding parameters should be inserted into the database by Go2Decoder or Go2Monitor software .Our Database instance will be created in Microsoft SQL Server</p>
            <a class="btn btn-primary" href="#!">Explore our Program</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body" style="font-size:xx-large ;"><p class="text-white m-0">Get Certified Get Ahead!</p></div>
    </div>
