        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Course One</h2>
                        <p class="card-text">LEVEL-3 is a course designed to reduce examination burden which a student usually faces while opting for A-Levels and F.A. The course has a specially designed structure in which a student has to prepare the assignments provided by PEARSON and appear in an examination conducted by the Center (CSPS). LEVEL-3 is a course aimed at students who are constantly failing or finding A-Levels and F.A difficult. LEVEL-3 gives student an easy pathway towards their Higher Education. LEVEL-3 is a UK qualification recognized by Education Board of Pakistan that means LEVEL-3 fulfills the criteria for a Bachelor’s Degree and also Higher National Diploma in Business (at CSPS).</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.csps.edu.pk/course/btec-level-3/">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Course Two</h2>
                        <p class="card-text">HND is short for Higher National Diploma.It is a work-related Business and Technology Education Council (BTEC) qualification offered by the Pearson board -one of the largest UK awarding bodies. HND provides students with hands-on coursework along with an opportunity to go to a UK university in the final year of Bachelor’s Studies to complete his/her degree.Pakistan’s Higher Education Commission (HEC) has given HND the equivalency  of two years of a Bachelor’s degree.<br>

                            While a Bachelor’s degree tends to focus on gaining knowledge,HND is designed to provide  you with skills to utilize that knowledge in a particular job.HND takes two years to complete and is highly valued by employers around the globe.It is provided by about 400 universities and further education colleges in the UK.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.csps.edu.pk/course/hnd/">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Course Three</h2>
                        <p class="card-text">ICM offer Professional qualifications at Qualifications & Credit Framework (QCF) Level 6 which equate with the UK Bachelor (Hons) degree programmes providing successful students with  access to study directly  for a range of Masters degree programmes in the UK and around the world. HEC have approved ICM to offer its Level 6 courses in Pakistan and the following disciplines are available for student  to study at CSPS.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.csps.edu.pk/course/icm/">More Info</a></div>
                </div>
            </div>
        </div>
        <div class="card text-white my-5 py-4 text-center">

            <div class="center">
        
        <video width="320" height="240" controls style="align-content: center;"> 
        
        <source src="assets/video2.mp4" type="video/mp4"/>
        
              Your browser does not support the video tag.
        
        </video>
        
        </div></div>
        
        <div class="card-body" id="youtube">
        
            <p class="text-white m-0" style="font-size: x-large; text-align: center;">
        
        <a href="https://www.youtube.com/user/Simplilearn"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/youtube.jpg" width="150px" height="150px"></a></p>
        
        <br><h4 style="text-align: center;">Check Out Our YouTube Channel for Technical Videos and Tutorials</h4>
        
        </div>
 